<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Preguntas</h1>
      <% if signed_in? %>
      <div class="text-right">
        <%= link_to "Publicar Pregunta", new_question_path, class: "btn btn-primary" %>
      </div>
      <% end %>
      <table class="table">
        <tr>
          <th>Votos</th>
          <th>respuestas</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
        <% @questions.reverse_each do |question| %>

          <tr>
          <td class="text-center"><%= question.votes.size%></td>
          <td class="text-center"><%= question.answers.size %></td>
          <td><%= link_to question.title, question%></td>
          <td><%= truncate(strip_tags(markdown(question.body)), length: 100, escape: false) %> 
          <div class="alert alert-warning">
            Publicado por <%= question.user.email %> el <%= (question.created_at.strftime("%d de %b del %Y a las %H:%M")) %>.
          </div></td>   
          </tr>         
        <% end %>
      </table>
    </div>
  </div>
</div>





